<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Application</Data></Cell>
        <Cell><Data ss:Type="String">Technology</Data></Cell>
        <Cell><Data ss:Type="String">Tickets</Data></Cell>
       <% @statuses.each do |status| %>
         <Cell><Data ss:Type="String"><%= status.name%></Data></Cell>
       <% end %>
      </Row>
    <% @applications.each do |application| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= application.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= application.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= get_technology_name(application.technology_id) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= get_application_tickets_count(application) %></Data></Cell>
        <% @statuses.each do |status| %>
        <Cell><Data ss:Type="String"><%= get_application_status_tickets_count(status,application) %> </Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>