<p id="notice"><%= notice %></p>

<p>
  Download:

  <%= link_to "Excel", tickets_path(format: "xls") %>
</p>

<h1>Listing Tickets</h1>


<b>
Incident
Last update sent on
Engineer
Application
Status
</b>




    <div id=tickets>
     <% @tickets.each do |ticket| %>
        <div id= edit_ticket_<%=ticket.id%>>
           <%= render "ticket" ,:ticket => ticket %>    
        </div>
     <% end %>
    </div>
<br>

<%= link_to 'New Ticket', new_ticket_path ,id: "new_link", remote: true %>


